<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <link rel="stylesheet" href="app.css">
</head>

<body ng-app="BlankApp" ng-cloak>
    <!--
    Your HTML content here
  -->
    <div ng-controller="ListCtrl">
      <md-list ng-cloak>
          <md-subheader class="md-no-sticky">Checklist</md-subheader>
          <md-list-item ng-repeat="item in items">
              <md-checkbox class="md-primary" ng-model="item.wanted" ng-change="items.$save(item)"></md-checkbox>
              <p> {{ item.name }} </p>
              <md-button class="md-secondary md-icon-button" aria-label="delete" ng-click="items.$remove(item)">
                <md-icon ng-bind="'close'"></md-icon>
              </md-button>
          </md-list-item>
          <md-divider></md-divider>
      </md-list>

      <md-input-container class="add-to-list" md-no-float>
       <!-- <label>Add to list</label> -->
        <input type="text" ng-model="listItem" placeholder="Add to list" my-enter="addToList()">
        <md-button class="md-primary md-icon-button"  ng-click="addToList()">
          <md-icon ng-bind="'playlist_add'" aria-label="add"></md-icon>
        </md-button>
      </md-input-container>
      

    </div>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

    <!-- Your application bootstrap  -->
    
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyCaH8J0io514PaJIxzv3UMTpaFqVlD5Nfc",
        authDomain: "checklist-316f8.firebaseapp.com",
        databaseURL: "https://checklist-316f8.firebaseio.com",
        storageBucket: "checklist-316f8.appspot.com",
        messagingSenderId: "1027101787566"
      };
      firebase.initializeApp(config);
    </script>

    <script type="text/javascript" src="app.js"></script>
</body>

</html>
<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->
